<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>成功！</h1>
<!--    将div里面的文本内容设置为 -->
    <div id="abc" th:text="${hello}" th:id="${hello}"></div>
<hr/>
<div th:text="${hello}"></div>
<div th:utext="${hello}"></div>
<hr/>

<!-- th:each 每次遍历都会生成当前这个标签 : 3个h4 -->
<div th:text="${user}" th:each="user:${users}"></div>
    <hr/>
<div>
    <span th:each="user:${users}">[[${user}]]</span>
</div>


</body>
</html>